@{ Layout = "~/Pages/Shared/_Layout.cshtml"; }
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Electronics</title>

    <style>
        .rectangle {
            background-color: #003054;
            border-radius: 10px;
        }

        .rectangle2 {
            background-color: #0060AA;
            border-radius: 10px;
        }

        .card {
            background-color: #F0F0F0;
            margin: 10px;
        }

        .card-img-top {
            width: 100%;
            height: 23vw;
            object-fit: cover;
        }

        .card-body {
            width: 100%;
            height: 20vw;
        }

        ul {
            text-align: center;
        }

        li {
            display: inline-block;
            margin-right: 10px;
        }
    </style>
</head>

<body>
    <div class="rectangle">
        <h1 class="text-white display-4, text-center">Electronics</h1>
    </div>
    <ul>
        <li>
            <a href="#Consoles">
                <h3 class="text-black-50">Consoles</h3>
            </a>
        </li>
        <li>
            <h3>|</h3>
        </li>
        <li>
            <a href="#TV's">
                <h3 class="text-black-50">TV's</h3>
            </a>
        </li>
        <li>
            <h3>|</h3>
        </li>
        <li>
            <a href="#Cellphones">
                <h3 class="text-black-50">Cellphones</h3>
            </a>
        </li>
        <li>
            <h3>|</h3>
        </li>
        <li>
            <a href="#Computers">
                <h3 class="text-black-50">Computers</h3>
            </a>
        </li>
        <li>
            <h3>|</h3>
        </li>
        <li>
            <a href="#Cameras">
                <h3 class="text-black-50">Cameras</h3>
            </a>
        </li>
        <li>
            <h3>|</h3>
        </li>
        <li>
            <a href="#Appliances">
                <h3 class="text-black-50">Appliances</h3>
            </a>
        </li>
    </ul>
    <br />
    <div class="rectangle2">
        <h3 id="Consoles" class="text-white display-4, text-center">Consoles</h3>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/ElectronicsPageImages/xbox.png" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Xbox Series X</h5>
                    <h6 class="text-center">$499.00</h6>
                    <input type="submit" name="AddToCart" value="Add to Cart" controller="cart" class=" btn btn-primary" id="btnAddtoCart" onclick="AddtoCart()" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/ElectronicsPageImages/playstatin.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">PlayStation 5 Console</h5>
                    <h6 class="text-center">$499.00</h6>
                    <input type="submit" name="AddToCart" value="Add to Cart" controller="cart" class=" btn btn-primary" id="btnAddtoCart" onclick="AddtoCart()" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/ElectronicsPageImages/nintendo.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Nintendo Switch</h5>
                    <h6 class="text-center">$299.00</h6>
                    <input type="submit" name="AddToCart" value="Add to Cart" controller="cart" class=" btn btn-primary" id="btnAddtoCart" onclick="AddtoCart()" />
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="rectangle2">
        <h3 id="TV's" class="text-white display-4, text-center">TV's</h3>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/ElectronicsPageImages/samsung tv.jpeg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Samsung LED Smart TV</h5>
                    <h6 class="text-center">$398.00</h6>
                    <input type="submit" name="AddToCart" value="Add to Cart" controller="cart" class=" btn btn-primary" id="btnAddtoCart" onclick="AddtoCart()" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/ElectronicsPageImages/sony smart tv.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Sony UHD LED TV</h5>
                    <h6 class="text-center">$598.00</h6>
                    <input type="submit" name="AddToCart" value="Add to Cart" controller="cart" class=" btn btn-primary" id="btnAddtoCart" onclick="AddtoCart()" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/ElectronicsPageImages/phillips roku tv.jpeg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Phillip's HD Smart Roku LED TV</h5>
                    <h6 class="text-center">$128.00</h6>
                    <input type="submit" name="AddToCart" value="Add to Cart" controller="cart" class=" btn btn-primary" id="btnAddtoCart" onclick="AddtoCart()" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/ElectronicsPageImages/smart tv lg.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">LG 4K UHD Smart TV 2020</h5>
                    <h6 class="text-center">$326.99</h6>
                    <input type="submit" name="AddToCart" value="Add to Cart" controller="cart" class=" btn btn-primary" id="btnAddtoCart" onclick="AddtoCart()" />
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="rectangle2">
        <h3 id="Cellphones" class="text-white display-4, text-center">Cellphones</h3>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/ElectronicsPageImages/Iphone.jfif" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Apple Iphone 12 Pro Max 5G 512GB - Graphite</h5>
                    <h6 class="text-center">$1,399.99</h6>
                    <input type="submit" name="AddToCart" value="Add to Cart" controller="cart" class=" btn btn-primary" id="btnAddtoCart" onclick="AddtoCart()" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/ElectronicsPageImages/SamsungGalaxy.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Samsung Galaxy S21 Ultra 5G 512GB - Phantom Black</h5>
                    <h6 class="text-center">$1,279.99</h6>
                    <input type="submit" name="AddToCart" value="Add to Cart" controller="cart" class=" btn btn-primary" id="btnAddtoCart" onclick="AddtoCart()" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/ElectronicsPageImages/LGPhone.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">LG V40 ThinQ - Aurora Black</h5>
                    <h6 class="text-center">$979.99</h6>
                    <input type="submit" name="AddToCart" value="Add to Cart" controller="cart" class=" btn btn-primary" id="btnAddtoCart" onclick="AddtoCart()" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/ElectronicsPageImages/GooglePixel.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Google Pixel 5 5G 128GB - Just Black</h5>
                    <h6 class="text-center">$699.99</h6>
                    <input type="submit" name="AddToCart" value="Add to Cart" controller="cart" class=" btn btn-primary" id="btnAddtoCart" onclick="AddtoCart()" />
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="rectangle2">
        <h3 id="Computers" class="text-white display-4, text-center">Computers</h3>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/ElectronicsPageImages/MicrosoftSurface.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">
                        Microsoft Surface Pro X - 13" Touch-Screen - MS SQ2
                        - 16GB Memory - 512GB SSD - Wi-Fi + 4G LTE - Matte Black
                    </h5>
                    <h6 class="text-center">$1,599.99</h6>
                    <input type="submit" name="AddToCart" value="Add to Cart" controller="cart" class=" btn btn-primary" id="btnAddtoCart" onclick="AddtoCart()" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/ElectronicsPageImages/Macbook.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">
                        Apple MacBook Pro - 16" Display with Touch Bar - Intel Core i9 -
                        16GB Memory - AMD Radeon Pro 5500M - 1TB SSD -Space Grey
                    </h5>
                    <h6 class="text-center">$2,599.99</h6>
                    <input type="submit" name="AddToCart" value="Add to Cart" controller="cart" class=" btn btn-primary" id="btnAddtoCart" onclick="AddtoCart()" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/ElectronicsPageImages/LenovoYoga.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">
                        Lenovo - Yoga 7i 2-in-1 14" Touch Screen Laptop - Intel Evo Platform Core i7 -
                        12GB Memory - 512GB Solid State Drive - Slate Grey
                    </h5>
                    <h6 class="text-center">$1,029.99</h6>
                    <input type="submit" name="AddToCart" value="Add to Cart" controller="cart" class=" btn btn-primary" id="btnAddtoCart" onclick="AddtoCart()" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/ElectronicsPageImages/DellXPS.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">
                        Dell - XPS 15.6" FHD+ Laptop - Intel Core i7 - 16GB Memory -
                        256GB SSD - NVIDIA GeForce GTX 1650 Ti - Silver cover, black interior
                    </h5>
                    <h6 class="text-center">$1,699.99</h6>
                    <input type="submit" name="AddToCart" value="Add to Cart" controller="cart" class=" btn btn-primary" id="btnAddtoCart" onclick="AddtoCart()" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/ElectronicsPageImages/HPSpectre.jfif" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">
                        HP Spectre x360 2-in-1 15.6" - 4K Ultra HD - Touch-Screen Laptop - Intel Core i7
                        - 16GB Memory - GeForce GTX 1650 Ti - 1TB SSD - Nightfall Black
                    </h5>
                    <h6 class="text-center">$1,699.99</h6>
                    <input type="submit" name="AddToCart" value="Add to Cart" controller="cart" class=" btn btn-primary" id="btnAddtoCart" onclick="AddtoCart()" />
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="rectangle2">
        <h3 id="Cameras" class="text-white display-4, text-center">Cameras</h3>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/ElectronicsPageImages/SonyCamera.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">
                        Sony - Alpha a6400 Mirrorless 4K Video Camera with E 18-135mm f/3.5-5.6 OSS Lens - Black
                    </h5>
                    <h6 class="text-center">$1,299.99</h6>
                    <input type="submit" name="AddToCart" value="Add to Cart" controller="cart" class=" btn btn-primary" id="btnAddtoCart" onclick="AddtoCart()" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/ElectronicsPageImages/NikonCamera.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">
                        Nikon - D5600 DSLR Video Two Lens Kit with 18-55mm and 70-300mm Lenses - Black
                    </h5>
                    <h6 class="text-center">$899.99</h6>
                    <input type="submit" name="AddToCart" value="Add to Cart" controller="cart" class=" btn btn-primary" id="btnAddtoCart" onclick="AddtoCart()" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/ElectronicsPageImages/CanonCamera.jfif" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">
                        Canon - EOS R Mirrorless 4K Video Camera (Body Only)
                    </h5>
                    <h6 class="text-center">$1,799.99</h6>
                    <input type="submit" name="AddToCart" value="Add to Cart" controller="cart" class=" btn btn-primary" id="btnAddtoCart" onclick="AddtoCart()" />
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="rectangle2">
        <h3 id="Appliances" class="text-white display-4, text-center">Appliances</h3>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/ElectronicsPageImages/Toaster.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">
                        Cuisinart - 4 Slice Metal Classic Toaster - Silver
                    </h5>
                    <h6 class="text-center">$69.99</h6>
                    <input type="submit" name="AddToCart" value="Add to Cart" controller="cart" class=" btn btn-primary" id="btnAddtoCart" onclick="AddtoCart()" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/ElectronicsPageImages/Blender.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">
                        Ninja - Professional 72-Oz. Blender - Black/silver
                    </h5>
                    <h6 class="text-center">$99.99</h6>
                    <input type="submit" name="AddToCart" value="Add to Cart" controller="cart" class=" btn btn-primary" id="btnAddtoCart" onclick="AddtoCart()" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/ElectronicsPageImages/Fridge.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">
                        Samsung - 27.4 Cu. Ft. Side-by-Side Refrigerator
                    </h5>
                    <h6 class="text-center">$1,259.99</h6>
                    <input type="submit" name="AddToCart" value="Add to Cart" controller="cart" class=" btn btn-primary" id="btnAddtoCart" onclick="AddtoCart()" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/ElectronicsPageImages/Microwave.jpeg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">
                        GE - 1.6 Cu. Ft. Microwave with Sensor Cooking
                    </h5>
                    <h6 class="text-center">$164.99</h6>
                    <input type="submit" name="AddToCart" value="Add to Cart" controller="cart" class=" btn btn-primary" id="btnAddtoCart" onclick="AddtoCart()" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/ElectronicsPageImages/Dishwasher.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">
                        Whirlpool - 24" Built-In Dishwasher - Stainless steel
                    </h5>
                    <h6 class="text-center">$699.99</h6>
                    <input type="submit" name="AddToCart" value="Add to Cart" controller="cart" class=" btn btn-primary" id="btnAddtoCart" onclick="AddtoCart()" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/ElectronicsPageImages/Washer.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">
                        Insignia™ - 4.1 Cu. Ft. Top Load Washer - White
                    </h5>
                    <h6 class="text-center">$549.99</h6>
                    <input type="submit" name="AddToCart" value="Add to Cart" controller="cart" class=" btn btn-primary" id="btnAddtoCart" onclick="AddtoCart()" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/ElectronicsPageImages/Dryer.jfif" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">
                        Insignia™ - 6.7 Cu. Ft. 12-Cycle Electric Dryer - White
                    </h5>
                    <h6 class="text-center">$449.99</h6>
                    <input type="submit" name="AddToCart" value="Add to Cart" controller="cart" class=" btn btn-primary" id="btnAddtoCart" onclick="AddtoCart()" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/ElectronicsPageImages/Vacuum.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">
                        Hoover - WindTunnel 3 High Performance Upright Vacuum - Black
                    </h5>
                    <h6 class="text-center">$139.99</h6>
                    <input type="submit" name="AddToCart" value="Add to Cart" controller="cart" class=" btn btn-primary" id="btnAddtoCart" onclick="AddtoCart()" />
                </div>
            </div>
        </div>
    </div>

        <div>
            @RenderBody()
        </div>
</body>
</html>
