@*@model CosmosWholesaleProject.Pages.FAQModel*@
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>FAQ</title>

    <style>
        .rectangle {
            background-color: #003054;
            border-radius: 10px;
        }
    </style>

</head>
<body>
    <div class="rectangle">
        <h1 class="text-white display-4, text-center">FAQ</h1>
    </div>
    <h4 class="text-left">Is there a membership a customer can purchase?</h4>
    <p class="text-dark, text-left">
        Yes, there is a membership that a customer can buy to earn exclusive benefits and deals.
    </p>
    <h4 class="text-left">What are some of the exclusive deals and benefits that come with the membership?</h4>
    <p class="text-dark, text-left">
        Members can get exclusive deals on items from our monthly magazine or through emails.
        They are also the first ones to purchase new items or recently restocked items.
    </p>
    <h4 class="text-left">How much is the membership?</h4>
    <p class="text-dark, text-left">
        The membership price is 75 dollars.
    </p>
    <h4 class="text-left">Is there a membership a customer can purchase?</h4>
    <p class="text-dark, text-left">
        Yes, there is a membership that a customer can buy to earn exclusive benefits and deals.
    </p>
    <h4 class="text-left">How long does the membership last and when do you need to renew it?</h4>
    <p class="text-dark, text-left">
        It is a year long membership and members renew it annually.
    </p>
    <h4 class="text-left">Who can become an exclusive Cosmo member?</h4>
    <p class="text-dark, text-left">
        Anyone over the age of 18.
    </p>
    <h4 class="text-left">How much is the membership discount on items?</h4>
    <p class="text-dark, text-left">
        2% to 40% depending on the select item.
    </p>
    <h4 class="text-left">What types of payments are accepted?</h4>
    <p class="text-dark, text-left">
        Discover, MasterCard, Visa, ApplePay, PayPal, cash, Samsung Pay
    </p>
    <h4 class="text-left">Is there a grocery delivery/pickup option?</h4>
    <p class="text-dark, text-left">
        Yes, an order for your items can be done through a call to a select store or on our website.
        You are able to pick whether you would like your items to be delivered or prepared for pickup.
    </p>
    <h4 class="text-left">Is there a membership card?</h4>
    <p class="text-dark, text-left">
        Yes, the member ID card is shipped to your address 3-5 days after purchasing your membership.
        The phone number on file can also be used to verify your membership if you forget it while shopping.
    </p>
    <h4 class="text-left">How can I contact Cosmo for any questions or additional information?</h4>
    <p class="text-dark, text-left">
        You can send us an email at outofthisword@cosmo.com or give us a call at (739) 148-2965.
    </p>

    <div>
        @RenderBody()
    </div>
</body>
</html>
