@*@model CosmosWholesaleProject.Pages.FurnitureModel*@
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Furniture</title>

    <style>
        .rectangle {
            background-color: #003054;
            border-radius: 10px;
        }

        .rectangle2 {
            background-color: #0060AA;
            border-radius: 10px;
        }

        .card {
            background-color: #F0F0F0;
            margin: 10px;
        }

        .card-img-top {
            width: 100%;
            height: 23vw;
            object-fit: cover;
        }

        .card-body {
            width: 100%;
            height: 20vw;
        }

        ul {
            text-align: center;
        }

        li {
            display: inline-block;
            margin-right: 10px;
        }
    </style>

</head>
<body>
    <div class="rectangle">
        <h1 class="text-white display-4, text-center">Furniture</h1>
    </div>

    <ul>
        <li>
            <a href="#Sofas">
                <h3 class="text-black-50">  Sofas  </h3>
            </a>
        </li>
        <li>
            <h3>|</h3>
        </li>
        <li>
            <a href="#Chairs">
                <h3 class="text-black-50">  Chairs  </h3>
            </a>
        </li>
        <li>
            <h3>|</h3>
        </li>
        <li>
            <a href="#Tables">
                <h3 class="text-black-50">  Tables  </h3>
            </a>
        </li>
        <li>
            <h3>|</h3>
        </li>
        <li>
            <a href="#Beds">
                <h3 class="text-black-50">  Beds  </h3>
            </a>
        </li>
    </ul>

    <br />
    <div class="rectangle2">
        <h3 id="Sofas" class="text-white display-4, text-center">Sofas</h3>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/FurniturePageImages/3_seater.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">3 Seater Sofa</h5>
                    <p>Dark leather, 3 seat sofa</p>
                    <h6 class="text-center">$3,000.00</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/FurniturePageImages/2_seater.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">2 Seater Sofa</h5>
                    <p>Grey cloth, 2 seat sofa</p>
                    <h6 class="text-center">$2,530.00</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/FurniturePageImages/recliner.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Recliner</h5>
                    <p>Black leather recliner</p>
                    <h6 class="text-center">$700.00</h6>
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="rectangle2">
        <h3 id="Chairs" class="text-white display-4, text-center">Chairs</h3>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/FurniturePageImages/bench.JPG" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Bench</h5>
                    <p>Brown wooden bench</p>
                    <h6 class="text-center">$95.00</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/FurniturePageImages/dining_room_chair.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Dining Room Chair</h5>
                    <p>Light wood, dining room chair</p>
                    <h6 class="text-center">$65.00</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/FurniturePageImages/office_chair.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Office Chair</h5>
                    <p>Black office chair</p>
                    <h6 class="text-center">$135.00</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/FurniturePageImages/gaming_chair.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Gaming Chair</h5>
                    <p>Black and white leather gaming chair</p>
                    <h6 class="text-center">$220.00</h6>
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="rectangle2">
        <h3 id="Tables" class="text-white display-4, text-center">Tables</h3>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/FurniturePageImages/desk.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Desk</h5>
                    <p>45in dark wood desk with shelves and drawers</p>
                    <h6 class="text-center">$280.00</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/FurniturePageImages/dining_room_table.jpeg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Dining Room Table</h5>
                    <p>68in light wood table</p>
                    <h6 class="text-center">$500.00</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/FurniturePageImages/coffee_table.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Coffee Table</h5>
                    <p>48in dark wood rectangle table with drawers</p>
                    <h6 class="text-center">$350.00</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/FurniturePageImages/nightstand.jpeg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Nightstand</h5>
                    <p>28in dark wood nightstand with 3 drawers</p>
                    <h6 class="text-center">$300.00</h6>
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="rectangle2">
        <h3 id="Beds" class="text-white display-4, text-center">Beds</h3>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/FurniturePageImages/bunk_bed.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Bunk Bed</h5>
                    <p>Grey wood, twin/full bunk bed</p>
                    <h6 class="text-center">$620.00</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/FurniturePageImages/king.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">King Bed</h5>
                    <p>Dark wood king sized bed with storage and drawers</p>
                    <h6 class="text-center">$1,170.00</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/FurniturePageImages/queen.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Queen Bed</h5>
                    <p>Simple dark wood panel queen bed</p>
                    <h6 class="text-center">$650.00</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/FurniturePageImages/full.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Full Bed</h5>
                    <p>Rustic wood panel full bed with storage drawers and light</p>
                    <h6 class="text-center">$620.00</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="~/images/FurniturePageImages/twin.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Twin Bed</h5>
                    <p>Simple wood twin bed</p>
                    <h6 class="text-center">$190.00</h6>
                </div>
            </div>
        </div>
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>