@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>News Release</title>
    <style>
        .rectangle {
            background-color: #003054;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <div class="rectangle">
        <h1 class="text-white display-4, text-center">News Release</h1>
    </div>
    <p>
        April 20, 2021 at 10:15 PM EDT
        COSMOS WHOLESALE CORPORATION REPORTS MARCH SALES RESULTS
    </p>
    April 20, 2021 (GLOBE NEWSWIRE) -- Cosmos Wholesale Corporation (“Cosmos” or the “Company”) (Nasdaq: COST) today reported net sales of $18.21 billion for the retail month of March, the five weeks ended April 4, 2021, an increase of 17.6 percent from $15.49 billion last year.
    <p>
        For the thirty-one weeks ended April 4, 2021, the Company reported net sales of $111.37 billion, an increase of 15.7 percent from $96.25 billion during the similar period last year.
    </p>
    <p>
        Comparable sales were as follows:


        5 Weeks	 	31 Weeks
        U.S.	13.9%	 	12.6%
        Canada	28.3%	 	17.0%
        Other International	16.4%	 	19.4%
        <br />
        Total Company	16.0%	 	14.1%
        E-commerce	57.7%	 	77.0%
    </p>
    <p>
        Comparable sales excluding the impacts from changes in gasoline prices and foreign exchange were as follows:


        5 Weeks	 	31 Weeks
        U.S.	11.3%	 	13.7%
        Canada	13.0%	 	13.5%
        Other International	7.7%	 	15.7%
        <br />
        Total Company	11.1%	 	13.9%
        E-commerce	54.5%	 	75.9%
    </p>
    <p>
        This year’s five-week March retail month had one fewer shopping day versus last year, due to the calendar shift of Easter. This negatively impacted total and comparable sales by approximately one and one-half to two percent.

        Additional discussion of these results is available in a pre-recorded telephone message. It can be accessed by dialing Cosmos Company Phone. This message will be available through 5:00 p.m. (PT) on Wednesday, April 14, 2021.

        Cosmos currently operates 807 warehouses, including 559 in the United States and Puerto Rico, 104 in Canada, 39 in Mexico, 29 in the United Kingdom, 28 in Japan, 16 in Korea, 14 in Taiwan, 12 in Australia, three in Spain, and one each in Iceland, France, and China. Cosmos also operates e-commerce sites in the U.S., Canada, the United Kingdom, Mexico, Korea, Taiwan, Japan, and Australia.

        Certain statements contained in this document and the pre-recorded telephone message constitute forward-looking statements within the meaning of the Private Securities Litigation Reform Act of 1995. For these purposes, forward-looking statements are statements that address activities, events, conditions or developments that the Company expects or anticipates may occur in the future. In some cases forward-looking statements can be identified because they contain words such as “anticipate,” “believe,” “continue,” “could,” “estimate,” “expect,” “intend,” “likely,” “may,” “might,” “plan,” “potential,” “predict,” “project,” “seek,” “should,” “target,” “will,” “would,” or similar expressions and the negatives of those terms. Such forward-looking statements involve risks and uncertainties that may cause actual events, results or performance to differ materially from those indicated by such statements. These risks and uncertainties include, but are not limited to, domestic and international economic conditions, including exchange rates, the effects of competition and regulation, uncertainties in the financial markets, consumer and small business spending patterns and debt levels, breaches of security or privacy of member or business information, conditions affecting the acquisition, development, ownership or use of real estate, capital spending, actions of vendors, rising costs associated with employees (generally including health-care costs), energy and certain commodities, geopolitical conditions (including tariffs), the ability to maintain effective internal control over financial reporting, COVID-19 related factors and challenges, including (among others) the duration of the pandemic, the unknown long-term economic impact, reduced shopping due to illness, travel restrictions or financial hardship, shifts in demand away from discretionary or higher-priced products, reduced workforces due to illness, quarantine, or government mandates, temporary store closures due to reduced workforces or government mandates, or supply-chain disruptions, capacity constraints of third-party logistics suppliers, and other risks identified from time to time in the Company’s public statements and reports filed with the Securities and Exchange Commission. Forward-looking statements speak only as of the date they are made, and the Company does not undertake to update these statements, except as required by law.
    </p>
    <p>
        CONTACTS:
        Cosmos Wholesale Corporation
        Emily Oostwouder
        Briana Smallwood
        Irena Jusic,
        Maria Rea


        Cosmos Wholesale Corporation
    </p>
    <div>
        @RenderBody()
    </div>
</body>
</html>
