################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CosmosWholesaleProject/CosmosWholesaleProject/bin/Debug/netcoreapp3.1
