@{
    //ViewBag.Title = "Food";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    //Layout = "~/Pages/Shared/Food.cshtml";
}
<!DOCTYPE html>
<html>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            <div>@RenderBody()</div>
        </main>
    </div>
    <div class="clear"></div>
    @Html.ActionLink("ProductListPartial", "Index")
    @RenderSection("Scripts", required: false)
</body>
</html>