<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Board of Directors</title>
</head>
<body>
    <div>
        <p>
            Emily Ostwouder-Fake President
            Irena Jusic-Fake Vice President
            Maria Rea-Fake Secretary
            Briana Smallwood-Fake Treasurer
        </p>
        @*@RenderBody()*@
    </div>
</body>
</html>
