@page
@model CosmosWholesaleProject.Pages.AboutUsModel
@{
    ViewData["Title"] = "About Us";
}
<h1 class="display-4">@ViewData["Title"]</h1>
<h2>Board of Directors</h2>
<p class="text-dark">
    <br />Emily Ostwouder- Fake President
    <br />Irena Jusic- Fake Vice President
    <br />Maria Rea- Fake Secretary
    <br />Briana Smallwood- Fake Treasurer
</p>
<h2>Mission Statement</h2>
<p>
    “Provide quality food throughout the Galaxy”
</p>

