@page
@model CosmosWholesaleProject.Pages.AboutUsModel
@{
    ViewData["Title"] = "About Us";
}

<div class="rectangle">
  <h1 class="display-4, text-center">About Us</h1>
 </div> 

    <h2>What is Cosmos?</h2>
    Cosmos is a wholesale warehouse club who strives to provide their
    customers with brand name merchandise with affordable prices.
    Cosmos is a nationwide club with many exclusive memberships and
    speciality departments that will hopefully satisfy the customer.

    <h2 class="text-left">Who are the Board of Directors?</h2>
    <p class="text-dark, text-left">
        Emily Ostwouder- President
        <br />Irena Jusic- Vice President
        <br />Maria Rea- Secretary
        <br />Briana Smallwood- Treasurer
    </p>
    <h2>What is our Mission Statement?</h2>
    <p>
        “Provide quality food throughout the Galaxy”
    </p>
    <h2>What is Our Business History?</h2>
    <p>
        Founding members of Cosmos: Neil Armstrong, Edwin “Buzz” Aldrin, Michael Collins
        <br />Founding of Cosmos:
        These three spacemen decided to open a galactic supermart during their time in space
        because the quality of space food wasn’t the same as real food in stores.
    </p>

